.radial-progress, .fill, .circle, .mask {
    margin: 0;
}
.radial-progress {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.mask, .fill, .inset {
    position: absolute;
    border-radius: 50%;
}
.mask, .fill {
    width: 120px;
    height: 120px;
    backface-visibility: hidden;
}
.mask {
    clip: rect(0px, 120px, 120px, 60px);
}
.fill {
    clip: rect(0px, 60px, 120px, 0px);
}
.inset {
    width: 90px;
    height: 90px;
    margin-left: 15px;
    margin-top: 15px;
}